*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar*/

.navbar{
    height: 64px;
    background-color:black;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*Box 1*/

.nav-logo{
    height: 57px;
    width: 145px;

}

.logo{
    background-image: url("shopfast.png");
    background-size: cover;
    height: 55px;
    width: 145px;
}

.border{
    padding: 2px;
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white
}

/*Box 2*/

.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 16px;
}

.add-second{
    font-size: 1rem;
}

/*Box 3*/

.nav-search{
    display: flex;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid yellow;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(202, 206, 8);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*Box 4 & 5*/

span{
    font-size: 0.8rem;
}

.signin-second{
    font-size: 0.9rem;
    font-weight: 700;
}

/*Box 6*/

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}

/*Panel*/

.panel{
    height: 40px;
    background-color: navy;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all:hover{
    padding: 3px;
    border: 2px solid white;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops p:hover{
    padding: 2px;
    border: 2.5px solid white;
}

.panel-ops{
    width: 75%;
    font-size: 0.9rem;
}

.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}

/*Shopping Section*/

.shopping-section{
    background-image: url("Shopping1.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shopping-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 96%;
    margin-bottom: 22px;
}

.shopping-msg a{
    color: #3ca03c;
}

/*Shopping Section*/

.items-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e5ebea;
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: #0aa5f3;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin:0rem 1rem 0rem 1rem;
}

.box-content a{
    color: #5a5252;
    text-decoration: none;
}

.box-content a:hover{
    text-decoration: underline;

}

/*Footer*/

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: navy;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel1 a{
    text-decoration: none;
    color: white;
}

.foot-panel1 a:hover{
    text-decoration: underline;
}

.foot-panel2{
    background-color: #020251;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p{
    font-weight: 700;
}

ul{
    margin-top: 40px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover{
    text-decoration: underline;
}

.foot-panel3{
    height: 64px;
    background-color: rgb(6, 0, 63);
    color: #d0cfcf;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
